operatinos = os.path.join(os.path.dirname(__file__), "../data/operations.xls")
DATABASE_HOST_CURRENCIES=url = (f'https://www.alphavantage.co/query?function=CURRENCY_EXCHANGE_RATE&from_currency={currency}'
               f'&to_currency=RUB&apikey={api_key}')
DATABASE_HOST_STOCKS=url = f'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol={ticker}&apikey={api_key}'
DATABASE_PASSWORD=password # Пароль базы данных
DATABASE_USER=username # Имя пользователя базы данных



